<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".md" />
			<mimeMap fileExtension=".md" mimeType="text/markdown; charset=utf-8" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="ReactRouter Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.html" />
				</rule>

			</rules>
		</rewrite>

		<security>
			<requestFiltering>
				<fileExtensions>
					<remove fileExtension=".md" />
					<add fileExtension=".md" allowed="true" />
				</fileExtensions>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>